<div class="store">
  <% if notice %>
    <p id="notice"><%= notice %></p> 
  <% end %>

  <h2>Your Pragmatic Catalog</h2>

  <% @products.each do |product| %>
    <div class="row entry">
      
      <div class="col-sm-3 col-lg-2">
        <%= image_tag(product.image_url, class: 'thumbnail') %>
      </div> 

      <div class="col-sm-9 col-lg-10">
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %> 
        <div class="price_line">
          <span class="price"><%=  number_to_currency product.price, unit: '£' %></span> 
        </div>
      </div>
     </div> 
  <% end %>
</div>
